
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Queue</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/DataStyles.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<h2>Avenue Queue</h2>
<Body>
    <!--Show Queue to the user-->
    <div class="resizeMe">
        @foreach (var QueueItem in ViewBag.myQueue)
        {
            <p>@QueueItem</p>
        }
    </div>

    <ul>
        <li>
            <a href="@Url.Action("AddOneItemToQueue", "Queue")"
               class="w3-bar-item w3-button">1. Add one time to Queue</a>
        </li>

        <li>
            <a href="@Url.Action("AddManyItemsToQueue", "Queue")"
               class="w3-bar-item w3-button">2. Add Huge List of Items to Queue</a>
        </li>

        <li>
            <a href="@Url.Action("DisplayQueue", "Queue")"
               class="w3-bar-item w3-button">3. Display Queue</a>
        </li>

        <li>
            <form action="DeleteFromQueue" method="post" class="w3-bar-item w3-button">
                4. Delete From Queue <input type="text" id="ItemToDelete" name="ItemToDelete" />
                <input id="Submit" name="Submit" type="submit" value="Delete It!" />
            </form>
        </li>

        <li>
            <a href="@Url.Action("ClearQueue", "Queue")"
               class="w3-bar-item w3-button">5. Clear Queue</a>
        </li>

        <li>
            <form action="SearchQueue" method="post" class="w3-bar-item w3-button">
                6. Search Queue <input type="text" id="findMe" name="findMe" />
                <input id="Submit" name="Submit" type="submit" value="Search" />
            </form>
        </li>
        <li>
            <form action="AddCustomItem" method="post" class="w3-bar-item w3-button">
                7. Add Custom Item: <input type="text" id="addMe" name="addMe" />
                <input id="Submit" name="Submit" type="submit" value="Add" />
            </form>
        </li>

        <li>
            <a href="@Url.Action("Index", "Home")"
               class="w3-bar-item w3-button">8. Return to Home</a>
        </li>
    </ul>

</Body>

    <footer><img src="~/Graphics/NotQueue.jpg" alt="My Bad" style="width: 800px; height: 400px;" /></footer>
</html>